.header__menu-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 275px;
  padding: 0;
}

@media screen and (max-width: 450px) {
  .header__menu-items {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
