.header {
  width: calc(100% - 74px * 2);
  padding-top: 56px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1053px) {
  .header {
    width: calc(100% - 50px * 2);
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 20px * 2);
    padding-top: 25px;
  }
}
