.form__button {
  width: 215px;
  height: 35px;
  color: #fff;
  background-color: #000;
  font-size: 16px;
  line-height: 1.4;
  align-self: flex-end;
}

.form__button:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}
